@using ZXing.Net.Maui
@using ZXing.Net.Maui.Controls
@inject IMudDialogInstance MudDialog

<style>
    /* Hace que el fondo del diálogo sea transparente para ver la cámara nativa */
    .mud-dialog-content {
        background-color: transparent !important;
    }
</style>

<MudDialog>
    <DialogContent>
        <div style="height: 300px; width: 100%; position: relative;">
            @* Este es el componente nativo de cámara *@
            <CameraBarcodeReaderView OnBarcodesDetected="HandleBarcodesDetected" />
        </div>
        <MudText Align="Align.Center" Class="mt-2">Apunta al código de barras</MudText>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancelar</MudButton>
    </DialogActions>
</MudDialog>

@code {
    private void HandleBarcodesDetected(BarcodeDetectionEventArgs e)
    {
        var code = e.Results.FirstOrDefault()?.Value;
        if (!string.IsNullOrEmpty(code))
        {
            // Cerramos el diálogo devolviendo el código leído
            MudDialog.Close(DialogResult.Ok(code));
        }
    }
    void Cancel() => MudDialog.Cancel();
}